<template> 
    <template v-if="mode === 'table'">
        <!-- <div v-if="lengthrow!==undefined">{{ v }}</div> -->
        <!-- <p v-else class="text-truncate" style="max-width: 300px;"> -->
            <!-- <div v-else class="text-truncate" style="max-width: 300px;"> -->
             <!-- {{ v }} {{ vid }} {{ link }}   -->
                <!--div v-if="link">  
                    <v-btn
                    variant="outlined"
                    @click="$router.push(link)" target="_blank"
                    > {{v}}
                    </v-btn>
                </div-->

                <!-- <div> 
                
                     {{ v }} {{ vid }} {{ this.modelValue.linkid }}
                   {{ modelValue.name }} {{ modelValue.id }}
                
                </div> -->

                <div v-if="this.modelValue.linkid">
                    <v-btn
                    variant="outlined"
                    @click="$router.push(column.widget.properties.dataset_id+'/'+modelValue.id)" target="_blank"
                    > {{modelValue.linkid}}
                    </v-btn>

                </div>
                <div v-else>
                    <div class="text-truncate" style="max-width: 300px;"> {{ modelValue.name }} </div>
                </div>
            <!-- </div> -->
            <!-- {{ rowobject }} -->
            <!-- {{v}} {{ column.properties.dataset_id }} -->
        <!--{{ modelValue }}
            //        @click="$router.push(link)" target="_blank" // один из вариантов решения ссылок на страницу Вида или образца и т.п.
                    @click="$router.push(199+'/'+rowobject.link_to_specimen.id)" target="_blank"
            v-overlay
  activator="parent"
  location-strategy="connected"
  scroll-strategy="reposition"
>
<v-card class="pa-2">{{v}}</v-card>
</v-overlay-->

    </template>
    <template v-else-if="mode === 'view'">  
        <!--что-то здесь-->
        <div v-if="this.modelValue.linkid">
                    <v-btn
                    variant="outlined"
                    @click="$router.push(column.widget.properties.dataset_id+'/'+modelValue.id)" target="_blank"
                    > {{modelValue.linkid}}
                    </v-btn>

                </div>
                <div v-else>
                    <div class="text-truncate" style="max-width: 300px;"> {{ modelValue.name }} </div>
                </div>

    </template>

    <template v-else-if="mode === 'edit'">
        <!-- <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="control">
                <input class="input" type="text" v-model="v"  @input="handleInput">
            </div>
        </div>         -->
         <!-- CF-MV:{{ modelValue }}Cf-MVtypeof: {{ typeMV }} CF-MV.id:{{ modelValue.id }} CF-MV.name:{{ modelValue.name }}<br>
        <br>CF-v: {{ v }}
        <br>CF-vid: {{ vid }}
        <br>CF-link:  {{ linkspecimen }}
        <br> {{ labelmessage }} -->
        <!-- Column Cl typeof:{{ typeof column }}Column Cl:{{ column }}<br>
        modelValue {{ modelValue }}<br>
        Options: {{ options }} -->
        <v-autocomplete 
        
            variant="outlined"
            class="mb-1"

                :items="options"
                item-title="title"
                item-value="value" 
                :label="this.column.title"

                v-model:search="search"
 v-model = "searchvalue"
 
 return-object
 
 @update:model-value="handleInput()" 
        />

<!--сделать проверку на объект - для случаев когда классифай используется для прикрепления таблицы (но пока всегда этот ид таблицы скрывается)-->
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<!-- v-model:search="search" 
 
                :items="options"
                item-title="title"
                item-value="value" -->

<script>
import axios from 'axios';

export default {
    name: 'classify-widget',
    props:['mode','column', 'modelValue', 'lengthrow'], // искать отметку в column
    emits: ['update:modelValue'],
    data(){
//    console.log(this.modelValue)

//        let s=''; 
//        let ids = '';
//        let link = '';
        
//         if (typeof this.modelValue != 'object') {
//             console.log(this.modelValue, this.search, "test")
// //            s=this.modelValue.name;
// //            ids = this.modelValue.id;

//         }
//console.log(this.modelValue, 'test');

// ветвление убрать и просто присвоить все данные соотв.


        // if(typeof this.modelValue =='object' && this.modelValue.linkid) {
        //     s=this.modelValue.linkid;
        //     ids = this.modelValue.id; //
        //     link = this.column.widget.properties.dataset_id+'/'+ids;
        // }

//         if (typeof this.modelValue =='object' && this.modelValue.name) {
//             s=this.modelValue.name;
//             ids = this.modelValue.id;
//             link = this.column.widget.properties.dataset_id+'/'+ids;

//         }

//         else
//  //           s=this.modelValue;
//   //      s='';
//             ids = this.modelValue.id;

// ветвеление необходимо для метода add - когда значение поля пустое

// console.log(this.modelValue);
//         let s=''; 
//         let ids = '';
//         let link = '';
// if (this.modelValue == '') {
//     // s=''; 
//     // ids = '';
//     // link = '';
//     s='tlee'; 
//     ids = 12;
//     link = '';
// } 
// else if (typeof this.modelValue =='object' && this.modelValue.linkid) {
//             s=this.modelValue.linkid;
//             ids = this.modelValue.id; //
//             link = this.column.widget.properties.dataset_id+'/'+ids;
// }
// else if (typeof this.modelValue =='object' && this.modelValue.name) {
//             s=this.modelValue.name;
//             ids = this.modelValue.id;
//             link = this.column.widget.properties.dataset_id+'/'+ids;

// }
// else if (typeof this.modelValue =='string'){
//     s=this.modelValue; 
//     ids = this.modelValue.id;
//     link = '';

// }
// else {
//     s=this.modelValue; 
//     ids = '';
//     link = '';
// }

        return {
            // v: s,
            // vid: ids,
            // linkspecimen: link,
            v: '',
            vid: null,
            linkspecimen: '',

            typeMV: '',

            // v: this.modelValue.name,
            // vid: this.modelValue.id,
            // link: this.column.widget.properties.dataset_id+'/'+this.modelValue.id,

 //           linkspecimen: this.column.widget.properties.dataset_id+'/'+this.modelValue.id,


//            options: [],
            options: [{"value":this.vid, "title":this.v}],
//   searchvalue: {"value":this.modelValue.id, "title":this.modelValue.name},
//    searchvalue: {"value":this.ids, "title":this.s},
   searchvalue: {"value":this.vid, "title":this.v},

   // что-то с сервалью - из-за него при пустом значении поля выпадат ошибка

//   searchvalue: {"value":1, "title":"this.modelValue.name"},
//searchvalue: {"value":null, "title":null},
//    searchvalue: null,
  // searchvalue: {},
//    searchvalue: [{"value":this.modelValue.id, "title": this.modelValue.name}],
//        searchvalue: [{}],

//search: this.modelValue.name,
 //           search: '',
//            search: '',
            search: this.v,
            labelmessage: "Type more than 3 symbols, please",  

           isobject: false,

           fields: '',
           responseClassify: {},
        }
                    
    },

    mounted(){
//                    console.log('classify', this.modelValue);

        if (this.modelValue != undefined && this.modelValue != '') {

            if (this.column != undefined && this.column.widget != undefined) {
                let props = this.column.widget.properties;
                if (props != undefined && props.db_field != null && props.db_field != undefined){
                    this.fields = props.db_field.join(',');
                    this.fields+=','+props.synonym;
                }
                

                if (typeof this.modelValue =='object') {
                    this.v = '';
                    for(var i =0; i < props.db_field.length; i++) {
                        this.v+=this.modelValue[props.db_field[i]]
                    }
                    this.vid = this.modelValue.id;
                    this.searchvalue = {"value":this.vid, "title": this.v};
                    this.search = this.v;
                    this.options = [{"value":this.vid, "title": this.v}];
                }
                else if (!isNaN(this.modelValue)) {
                            //		let ref_id=this.modelValue; // что это?
                    if (props.another && (this.modelValue == -1 || this.modelValue == '-1')) {
                        return props.another;
                    }
                    if (props.db_field == null || props.db_field === undefined) {
                        return this.modelValue;
                    }
                    this.fields = props.db_field.join(',');

                    axios
                        .get(this.$store.state.mainurl+'//dataset/list?f=' + props.dataset_id + '&iDisplayStart=0&iDisplayLength=1&s_fields=' + this.fields + '&f_id=' + this.modelValue)
                        .then((response) => {
                            this.responseClassify=JSON.parse(response);
                                                            //console.log('update output',response.data.aaData);
                        })
                        .catch(error => console.log(error));

                    if (this.responseClassify.aaData === undefined || this.responseClassify.aaData.length != 1) {
                        return 'id:' + this.modelValue;
                    }
                        //			let resstr = '';
                    this.v = '';
                    for (var i = 0; i < props.db_field.length; i++) {
                        if (props.db_field[i] in this.responseClassify.aaData[0] && this.responseClassify.aaData[0][props.db_field[i]] != undefined && this.responseClassify.aaData[0][props.db_field[i]] != ''){
                        //					resstr += this.responseClassify.aaData[0][props.db_field[i]] + ' ';
                            this.v+= this.responseClassify.aaData[0][props.db_field[i]] + ' ';
                        
                            this.vid = this.modelValue;
                            this.searchvalue = {"value":this.vid, "title": this.v};
                            this.search = this.v;
                            this.options = [{"value":this.vid, "title": this.v}];

                        }
                    }

                }
            }    
        }    

        else if (this.modelValue=={id: null, name: null} || this.modelValue==''){
                // this.modelValue == undefined or ''
                this.v = '';
                this.vid = 0;
                this.searchvalue = {"value":this.vid, "title": this.v};
                this.search = this.v;
                this.options = [{"value":this.vid, "title": this.v}];

        }
        else {
//            console.log('classify', this.modelValue);
            this.v = '!!!';
                this.vid = 0;
                this.searchvalue = {"value":this.vid, "title": this.v};
                this.search = this.v;
                this.options = [{"value":this.vid, "title": this.v}];



        }

    },


    methods:{
        
        handleInput () {   
if (this.searchvalue == null) {
    this.$emit('update:modelValue', {id:null, name:''});
return;
}
else {
this.$emit('update:modelValue', {id:this.searchvalue.value, name:this.searchvalue.title});

//this.modelValue.linkid - -где-то его же тоже надо эмитить?

// т.к. мы обновляем modelValue, то и эмитить надо свойства у modelValue (id, name) а не searchvalue (value, title) который является внутренним элементом v-autocomplite  
 //      this.$emit('update:modelValue', this.searchvalue.value, this.searchvalue.title);// здесь надо отдавать И ид И титл - тогда будет все ок в детайлсе.
//this.modelValue = this.searchvalue;
     //  this.search = this.modelValue;
     this.options = [{"value":this.searchvalue.value, "title":this.searchvalue.title}];
}

//console.log("test",'2', this.searchvalue, this.modelValue, this.search, this.options); 
//       this.searchvalue = {"value":this.modelValue.id, "title": this.modelValue.name};
//      console.log("test", this.searchvalue, this.modelValue); 

// console.log("test", this.searchvalue, 2); 
// console.log("test", this.labelmessage); 
// console.log("test", this.search, 2);         
//       this.getsearchvalue();
//       this.v = this.modelValue;

//this.options = [];
// //set value of button (for possibility of see the changed values)
//               this.searchvalue = e; 
//               this.search = e;

        },


        getLookupData(){
       //     let dataset_uri = '/dataset/list?f='+this.column.widget.properties.dataset_id;
            let dataset_uri = this.$store.state.mainurl+'/dataset/list?f='+this.column.widget.properties.dataset_id;

            let filtervalue = '&f_'+this.column.widget.properties.db_field+'='+this.search;
 //           let filtervalue = '&f_'+this.column.widget.properties.db_field+'='+"KAND";
            axios
                .post(dataset_uri+'&count_rows=true&iDisplayStart='+0+'&iDisplayLength='+10+filtervalue)
                .then((response) => {
                    let rows = response.data.aaData;
                    let rowsoptions=[];
                    if (this.column.title == 'Species') {
    // по другому ветвиться (без првязки к названию поля)
                        rows.forEach(function(item) {
                            let rowsitem={};
                            if(item.refmainsynonym.id != null){
                                rowsitem={"value":item.refmainsynonym.id, "title": item.name}
                            }
                            else {
                                rowsitem={"value":item.id, "title": item.name}
                            }
                            rowsoptions.push(rowsitem);
                        });
                    }
                    else {
                        rows.forEach(function(item) {
                            let rowsitem={};
                                rowsitem={"value":item.id, "title": item.name}
                            rowsoptions.push(rowsitem);
                        });
                    }
                        this.options = rowsoptions;
                    })
                .catch(error => console.log(error));
        },


//         getsearchvalue() {

// this.searchvalue = [{"value":this.value, "title": this.title}];

// },
    //     clearInput(){
    //     this.options = [];
    // },


    },

    watch: {
        search() {

//console.log("test", this.search.length); 
//console.log("test", this.search);
//console.log("test", this.labelmessage); 
/////console.log("test", this.search);  
//console.log("test", this.options); 

            // if (this.search == '[object Object]'){
            //     this.search = '';
            // }
        //   //      this.searchvalue = '';
        //         this.labelmessage = '';
        //     }
        //     else 
//this.search = this.searchvalue.title;
// if (this.search.length == 0 ) {

//     this.vid = 1;
//     this.v = 'null';
//     this.searchvalue =  {"value":this.vid, "title":this.v};
//     this.options = [{"value":this.vid, "title":this.v}]

//     console.log(this.modelValue, this.v, this.vid, typeof this.modelValue);
//     return;


// }
if (this.search.length < 3 ) {
//    if (this.modelValue == undefined ) {
            this.labelmessage = "type more";
            // this.vid = 1;
            // this.v = 'null';
            // this.searchvalue =  {"value":this.vid, "title":this.v};
            // this.options = [{"value":this.vid, "title":this.v}]
//            this.searchvalue =  {"value":1, "title":"value"};
//            this.searchvalue =  {};
//console.log(this.modelValue, this.v, this.vid, typeof this.modelValue);

//           this.searchvalue = this.search;
            return;

//            this.searchvalue = {"value":this.modelValue.id, "title": this.modelValue.name};
// this.searchvalue = undefined;
            }

else if (this.search.length >= 3) {
            this.labelmessage = "";
//           this.searchvalue = this.search;
            this.getLookupData();
//            this.searchvalue = {"value":this.modelValue.id, "title": this.modelValue.name};
// this.searchvalue = undefined;
            }


        },

    //     modelValue() {
    //       this.searchvalue = {"value":1, "title": "tre"};
    // },
//     searchvalue() {
//  //       this.v = this.modelValue.name;
//         this.v = this.searchvalue.title;
//     },

},

//     computed: {

//         modelValue() {
//             let mv = '';
//             if(typeof this.modelValue =='object') {
//                 mv = {"id":this.modelValue.id, "name": this.modelValue.name};
//             }
//             else {
//                 mv = this.modelValue.id
//             }

//             return mv;

//             },

// //     modelValue() {

// //      let mv = {"value":this.searchvalue.value, "title": this.searchvalue.title};
// // console.log(mv, "test");
// //       return mv;
// //     }
//        },

}
</script>
