<template>
    <template v-if="mode === 'table'">
        <div v-if="!isNaN(v)"> {{formatDate(v)}} </div>
    </template>
    <template v-else-if="mode === 'view'">
        <div v-if="v"> {{formatDate(v)}} </div>
    </template>
    <template v-else-if="mode === 'edit'"> 


        <!-- <VueDatePicker v-model="v" placeholder="Start Typing ..." text-input @date-update ="handleInput" :format=formatdate /> -->
         <VueDatePicker class="my-picker-class" v-model="v" placeholder="DD.MM.YYYY" typeable text-input enterSubmit tabSubmit @update:model-value ="handleInput" :format=formatdate>
            <template #menu-header  >
                <div class="text-center" >{{ column.title }}</div>
            </template>
        </VueDatePicker>    



    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>

import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
    export default {
        name: 'date-widget',

        components: {
        //    Datepicker,
        // VDateInput,
        VueDatePicker,
   //     ru,
        },

        props:['mode','column', 'modelValue'],
        emits: ['update:modelValue'],
        data(){ 
            return {
                v: this.modelValue,
formatdate: 'dd.MM.yyyy', // take from store?


            }
        },   
        methods:{
            formatDate(v) {
                const date = new Date(v);
                if (!isNaN(date)) {
                return new Intl.DateTimeFormat('ru-RU', {dateStyle: 'short'}).format(date);
                }
                else {
                return "dd.MM.yyyy";    
                }
            },

            handleInput (e) {           
                this.v = e; 
// let date = new Date(this.v).toISOString().slice(0, 10); 
// convert date to ISO standart for storage (date in other formats e.g. like "dd.mm.yyyy" date field cannot accept)
                const date = new Date(new Date(this.v).getTime() - new Date(this.v).getTimezoneOffset() * 60000).toISOString().split('T')[0];
// and lead to user timezone of (by IP? - need study this): https://sky.pro/wiki/javascript/preobrazovanie-daty-v-format-yyyy-mm-dd-v-java-script/

//console.log(date);
                this.$emit('update:modelValue', date);
            },
        },

        watch: {
            modelValue() {
                this.v = this.modelValue;
            }
        },
    }
</script>

<style scoped>
.my-picker-class{
    --dp-input-padding: 15px 30px 15px 12px; /*Padding in the input*/
    --dp-font-size: 1rem;
    --dp-preview-font-size: 0.8rem; /*Font size of the date preview in the action row*/
           }
</style>