<template>
    <!-- <div v-if="valuedetails && valuedetails.rows.length > 0">  -->
      <template v-if="mode === 'table'">
      
        <v-btn 
        variant="tonal" 
        @click="detailsoverlay = !detailsoverlay"
        >
        {{ valuedetails.rows.length }} <v-icon icon="mdi-chevron-down"></v-icon>

        </v-btn>

        <v-overlay
          v-model="detailsoverlay"
          class="align-center justify-center"
          scroll-strategy="block"
          max-width="1200"
        >
        <v-card>
       
        <v-card-text class="bg-white text-h5">

      <v-table>
      <thead>
        <tr>
          <th v-for="col in metadetails.columns" v-bind:key="col"> {{col.title}} </th>
        </tr> 
      </thead>
      <tbody>
        <tr v-for="row in valuedetails.rows"  :key="row.id">
          <td v-for="col in metadetails.columns" v-bind:key="col">
    <base-geo-cell v-bind="{mode:'table',column:col, initValue:row[col.fieldname], meta:metadetails, rowobject:row}"/>
          </td>
        </tr>
      </tbody>
    </v-table>
        </v-card-text> 
        <div class="px-2">
              <v-card-actions>
                <v-row justify="space-between" class="text-center">
                  <v-col><v-btn
                    class="my-1"
                    variant="flat" 
                    color="regular" 
                    block @click="detailsoverlay = false"
                  >Close</v-btn></v-col>
                  <v-col><v-btn
                    v-if="$store.state.loggedIn" 
                    class="my-1"
                    variant="flat" 
                    color="attentionlight"
                    block 
                    @click.stop="$router.push('/contacts'), detailsoverlay = false"
                    >Edit</v-btn></v-col>
                </v-row>
              </v-card-actions>
      </div>

        </v-card>
        </v-overlay>
      </template>


      <template v-else-if="mode === 'view'">
        <v-table>
          <thead>
            <tr>
              <th v-for="col in metadetails.columns" v-bind:key="col"> {{col.title}} </th>
            </tr> 
          </thead>
          <data-table :meta="metadetails" v-model = "valuedetails.rows" @getrow = "setcurentRowDet"> </data-table>
        </v-table>

      </template>


    <template v-else-if="mode === 'edit'">

      <!-- VD:{{ valuedetails }} MV: {{ modelValue }}<br><br> -->
      <!-- DS:{{ valuedetails.det.sort }} -->
 <!-- {{ valuedetails }}<br>
 modelValue {{ modelValue }} -->
      <!--  <data-table :meta="metadetails" :rows="valuedetails.rows" @getrow = "setcurentRowDet"></data-table> -->
      <!-- <data-table :meta="metadetails" :rows="valuedetails.rows" :detailsrows="valuedetails.rows" v-model = "valuedetails.rows" @getrow = "setcurentRowDet"></data-table> -->
    <v-card class="pa-1" variant="outlined" color="regular"> 
      <v-sheet class="my-1">
        <v-table>
          <thead>
            <tr>
              <th v-for="col in metadetails.columns" v-bind:key="col"> {{col.title}} </th>
            </tr> 
          </thead>
          <!-- <data-table :meta="metadetails" v-model = "valuedetails.rows" @getrow = "setcurentRowDet"> </data-table> -->
          <data-table :meta="metadetails" v-model = "modelValue.rows" @getrow = "setcurentRowDet"> </data-table>
        </v-table>
      </v-sheet>


<v-btn class="mr-2" @click="dialogedrowdetails=!dialogedrowdetails, initDetailsRow('add'), actionadd = !actionadd">Add</v-btn>
<v-btn class="mr-2" v-if="editButton==true" @click="dialogedrowdetails=!dialogedrowdetails, actionedit = !actionedit ">Edit</v-btn>
<v-btn class="mr-2" v-if="editButton==true" @click="dialogedrowdetails=!dialogedrowdetails, initDetailsRow('clone'), actionclone =!actionclone">Clone</v-btn>
<v-btn v-if="editButton==true" @click="updateDetailsData('delete')">Delete</v-btn>

<!--v-btn v-if="editButton==true" @click="putToFirst()">Move to First</v-btn-->


</v-card>

       <v-dialog
v-model="dialogedrowdetails"
>

  <v-card class="rounded-0 px-1">
<v-card-text>
<v-sheet>
      <v-sheet v-for="col in metadetails.columns" :key="col">

 <base-geo-cell v-bind="{mode:'edit', column:col, meta:metadetails, rowobject:curentRowDet}" v-model="curentRowDet[col.fieldname]"/>

      </v-sheet>
  </v-sheet>


</v-card-text>
    <div class="d-flex justify-space-between">
      <v-btn v-if="actionedit" @click="dialogedrowdetails = !dialogedrowdetails, updateDetailsData('delete'), actionedit = false, actionclone = false, actionadd = false">Delete</v-btn>
      <v-btn class="my-1" variant="outlined" color="regular" @click="dialogedrowdetails = !dialogedrowdetails, actionedit = false, actionclone = false, actionadd = false">Exit</v-btn>
      <v-btn v-if="actionedit" class="my-1" variant="flat" color="regular" @click="dialogedrowdetails = !dialogedrowdetails,  updateDetailsData(), actionedit = false, actionclone = false, actionadd = false">Edit</v-btn>
      <v-btn v-if="actionadd" class="my-1" @click="dialogedrowdetails=!dialogedrowdetails, addRowDetails(), actionedit = false, actionclone = false, actionadd = false">Add</v-btn>
      <v-btn v-if="actionclone" class="my-1" @click="dialogedrowdetails=!dialogedrowdetails, addRowDetails(), actionedit = false, actionclone = false, actionadd = false">Clone</v-btn>
    </div>
  </v-card>


</v-dialog>


    </template>
    <template v-else>
        {{valuedetails}}
    </template> 

<!-- </div> -->
    
</template>

<!--

<v-card class="pa-2">{{row.species.name}}{{row.detname2}}</v-card>

      icon="mdi-chevron-down"

-->

<script>
import BaseTableTools from '@/components/BaseTableTools.vue';
import DataTable from '@/components/DataTable.vue';
//import BaseGeoTable from '@/components/BaseGeoTable.vue';

export default {
    name: 'DetailsWidget',
    props:['mode','column', 'meta','modelValue'],
//    props:['mode','column'],
emits: ['update:modelValue'],
    data(){ 

//  console.log(this.column.widget.properties.dataset_id) // здесь я получаю ИД таблицы детайлса (9401a508-9be3-45ff-8bde-78ab47347a33)
//  console.log(this.column.widget.properties.detailmeta.columns) // здесь я получаю описание структуры детайлса?

    return {
//            valuedetails: this.modelValue.rows,
//             valuedetails: this.modelValue,
//             valuedetails: {rows:[{id:0,name:""}]},
            valuedetails: {"rows":[{}],"det":{ "sort":[]}},
  //          valuedetails: this.rowobject,


            metadetails: {},
            dialogVisible: false,
            detailsoverlay: false, // value of modal window

dialogedrowdetails: false,
curentRowDet: {},
editButton: false,
actionedit: false,
actionclone: false,
actionadd: false,
        }
    },
    components: {
BaseTableTools,
DataTable,
//BaseGeoTable,
//
    },


    mounted(){
this.metadetails = this.column.widget.properties.detailmeta;
this.metadetails.columns=this.metadetails.columns.filter(col=> {return col.visible});
//let vds = this.valuedetails;
//console.log(this.modelValue);
//this.valuedetails = this.modelValue;

if (this.modelValue !== '') {
  this.valuedetails = this.modelValue;
}
// //else { this.valuedetails = {"rows":[],"det":null}
// else { this.valuedetails = {"rows":[{}],"det":{"sort":[]}}
// }

 // {"rows":[{}],"det":{"sort":[]}}
// откуда ноги растут здесь? потому что только в моунтеде можно этотпроизевси.

//console.log(this.valuedetails);
//console.log(this.modelValue);


},

methods: {

setcurentRowDet(getrow) {
            this.curentRowDet = getrow;
            this.editButton = true;
        },

putToFirst(){
  let updaterowdetails = this.modelValue;
 updaterowdetails.rows['id'] = this.curentRowDet.id;
  // получение локального номера строки в прикрепленном детайлсе // 1. А если строка новая то ид присваивается только после отправки детйлса на сервер
 let rownumber = 0;
 for(var i=0; i< updaterowdetails.rows.length; i++){
  if (updaterowdetails.rows[i].id == this.curentRowDet.id){
    rownumber = i;
    break;
  }
 }
console.log(this.valuedetails.det.sort);
  let arrayData = this.valuedetails.det.sort;
  arrayData.splice(0, 0, arrayData.splice(rownumber, 1)[0]);
  this.valuedetails.det.sort = arrayData;
console.log(this.valuedetails.det.sort);

  this.$emit('update:modelValue', this.valuedetails);


  // this.valuedetails.det.sort меняется - но как его применить? -  эта сортировка никак не применяется при отображении порядка видов в списке

},

updateDetailsData(action) {
 let updaterowdetails = this.modelValue;
 updaterowdetails.rows['id'] = this.curentRowDet.id;
  // получение локального номера строки в прикрепленном детайлсе // 1. А если строка новая то ид присваивается только после отправки детйлса на сервер
 let rownumber = 0;
 for(var i=0; i< updaterowdetails.rows.length; i++){
  if (updaterowdetails.rows[i].id == this.curentRowDet.id){
    rownumber = i;
    break;
  }
 }
if (action == 'delete') {
  updaterowdetails.rows.splice(rownumber, 1);
}
else {
  Object.keys(this.curentRowDet).forEach(key => {
    updaterowdetails.rows[rownumber][key] = this.curentRowDet[key];
  });
  updaterowdetails.det.sort = this.valuedetails.det.sort;
}
this.valuedetails = updaterowdetails;
this.$emit('update:modelValue', updaterowdetails);
        },

initDetailsRow(action){
  if(action == 'add'){
    let updaterow = {};
    this.metadetails.columns.forEach(column => {
      updaterow[column.fieldname] = column.init_value;
      });
    this.curentRowDet = updaterow;
  } 
  else if(action == 'clone'){
    let updaterow = {};
    this.metadetails.columns.forEach(column => {
//console.log(column.copy_value);      
      if (column.copy_value == 'empty' || updaterow[column.fieldname] ==''){
        updaterow[column.fieldname] = column.init_value;
      }  
      else {updaterow[column.fieldname] = this.curentRowDet[column.fieldname]}
    });
    this.curentRowDet = updaterow;
  }  
},

addRowDetails(){
if (this.modelValue == '' || this.modelValue == null || this.modelValue == 'null'||this.modelValue == undefined) {
this.valuedetails = {"rows":[{}],"det":{ "sort":[]}};
let updaterow = this.curentRowDet;
this.valuedetails.rows = [updaterow];

}

else { 
this.valuedetails = this.modelValue;
let updaterow = this.curentRowDet;
this.valuedetails.rows.push(updaterow);
}
  let hashlist=[];
this.valuedetails.rows.forEach(row => {
  hashlist.push(this.gethash(this.metadetails.columns, row));
}
)
this.valuedetails.det.sort = hashlist;

//this.updateDetailsData('add');
this.$emit('update:modelValue', this.valuedetails);
},


gethash (columns, obj){
	let hashobj={};
		for(let c =0; c<columns.length; c++){
			let column=columns[c];
			if(column.fieldname in obj){
				if(column.fieldname!='id'  && obj[column.fieldname] && obj[column.fieldname]!='NULL' && obj[column.fieldname]!='null' && column.visible && column.widget){
					if(column.widget.name=='classify'){
						if(obj[column.fieldname]){
							if(typeof obj[column.fieldname] =='object')
								hashobj[column.fieldname]=obj[column.fieldname].id;
							else
								hashobj[column.fieldname]=obj[column.fieldname];
						}
					}
					else if(column.widget.name=='date' && typeof obj[column.fieldname]=='string' && obj[column.fieldname].length>=10){
						hashobj[column.fieldname]=obj[column.fieldname].substr(0,10);
					}
					else if(column.widget.name!='details')
						hashobj[column.fieldname]=obj[column.fieldname];
				}
			} 
		}		
//		return JSON.stringify(hashobj).this.hashCode()+'';
//console.log(JSON.stringify(hashobj)); // тут все ок. Не работает только кодирование? (hashCode()) 
    return this.hashCode(JSON.stringify(hashobj))+'';
//    this.hash = this.hashCode(JSON.stringify(hashobj))+'';
//return JSON.stringify(hashobj)+'';
	},

  hashCode(str) {
  let hash = 0, i, chr;
  for (i = 0; i < str.length; i++) {
    chr = str.charCodeAt(i);
    hash = ((hash << 5) - hash) + chr;
    hash |= 0; 
  }
//console.log(hash);
  return hash;
},



// hashCode() {
// String.prototype.hashCode = function() {
//     var hash = 0;
// try {
//     if (this.length == 0) return hash;
//     for (i = 0; i < this.length; i++) {
//         char = this.charCodeAt(i);
//         hash = ((hash << 5) - hash) + char;
//         hash = hash & hash; // Convert to 32bit integer
//     }
//     return hash;
// } catch (e) {
//     throw new Error('hashCode: ' + e);
// }
// }
// },
},

computed: {
// gethash (columns, obj){
// 	let hashobj={};
// 		for(let c =0; c<columns.length; c++){
// 			let column=columns[c];
// 			if(column.fieldname in obj){
// 				if(column.fieldname!='id'  && obj[column.fieldname] && obj[column.fieldname]!='NULL' && obj[column.fieldname]!='null' && column.visible && column.widget){
// 					if(column.widget.name=='classify'){
// 						if(obj[column.fieldname]){
// 							if(typeof obj[column.fieldname] =='object')
// 								hashobj[column.fieldname]=obj[column.fieldname].id;
// 							else
// 								hashobj[column.fieldname]=obj[column.fieldname];
// 						}
// 					}
// 					else if(column.widget.name=='date' && typeof obj[column.fieldname]=='string' && obj[column.fieldname].length>=10){
// 						hashobj[column.fieldname]=obj[column.fieldname].substr(0,10);
// 					}
// 					else if(column.widget.name!='details')
// 						hashobj[column.fieldname]=obj[column.fieldname];
// 				}
// 			} 
// 		}		
// //		return JSON.stringify(hashobj).this.hashCode()+'';
//     return this.hashCode(JSON.stringify(hashobj))+'';
// 	},


// hashCode() {
//   let hash = 0;
//   for (let i = 0; i < this.length; i++) {
//     const chr = this.charCodeAt(i);
//     hash = ((hash << 5) - hash) + chr;
//     hash |= 0; 
//   }
//   return hash;
// },
},



}

</script>
