<template>
    <template v-if="mode === 'table'">
        {{v}}
    </template>
    <template v-else-if="mode === 'edit'">

                <v-text-field :label=column.title variant="outlined" type="Number" v-model="v"  @input="handleInput"></v-text-field>

                <!-- <v-text-field :label=column.title variant="outlined" v-model="v" ></v-text-field>  -->
       
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
export default {
    name: 'number-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){ 
        return {
            v: this.modelValue,
        }
    },   
    methods:{
        handleInput (e) {   
            // console.log('numberf',e.target.value);  
            // console.log('numberf',this.v);        
           this.v = e.target.value;     
 //                      if (e.target.value == "") { this.v = "NULL" }     
        //    this.$emit('update:modelValue', String(this.v))
           this.$emit('update:modelValue', this.v)
        }
    },

    watch: {
    modelValue() {
        this.v = this.modelValue;
    }
    
},
}
</script>
