<template>
    <!--как тут правильно сделать я пока непноимаю-->
    <!--ветвимся по типу данных - для видов и для образцов получаем роут по разному-->
 <!--  198 и 200 - это иды корневых таблиц (для видов и оразцов) специфичные для групп -->
    <template v-if="mode === 'table'">
 <!-- <v-btn v-if="meta.dataset_id === 198"
 variant="outlined"
 @click="$router.push(199+'/'+rowobject.link_to_specimen.id)" target="_blank"
 > {{v}} 
</v-btn> -->

<v-btn
variant="outlined"
  @click="$router.push(meta.dataset_id+'/'+rowobject.id)"
 > {{v}} 
</v-btn>

<!-- тут надо научиться получать норм ссылку на образец-->
<!-- {{ meta.columns[1].widget.properties.dataset_id}} -->
<!-- @click="$router.push(column.widget.properties.dataset_id+'/'+modelValue.id)" target="_blank"
  @click="$router.push(meta.dataset_id+'/'+rowobject.id)"

-->

    </template>
    
    <template v-else-if="mode === 'edit'">

        <!-- <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="control">
                <input class="input" type="text" v-model="v"  @input="handleInput">
            </div>
        </div> -->
        <!-- <v-text-field :label=column.title variant="outlined" v-model="v"  @input="handleInput"></v-text-field> -->
        <v-text-field :label=column.title variant="outlined" v-model="v" ></v-text-field> 
        <!--v-text-field :label=column.title variant="outlined" v-model="v"  readonly ></v-text-field
        Ve:{{ ve }} V{{v}} MV:{{ modelValue }}
        --> 
        
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>
 
<!--{{row.link_to_specimen.id}}

rowobject.link_to_specimen.id //material id
@click="$router.push(rowobject.ref_classname_147o+'/'+rowobject.link_to_specimen.id)"
 @click="$router.push(rowobject.classname+'/'+rowobject.id)"


rowobject.ref_classname_147o // table id


-->

<script>
export default {
    name: 'objectview-widget',
    props:['mode','column', 'modelValue', 'rowobject', 'meta'], // попробовать найти путь в column
    emits: ['update:modelValue'],
    data(){ 
//   console.log(this.modelValue)
//   console.log(this.column)
// let vvalue = null;
// if (this.modelValue == null){
//     vvalue = null; // получается здесь надо сделать запрос к последовательности ? 
//     this.handleInput();
// }
// else {
//     vvalue = this.modelValue;
// }
        return {
            v: this.modelValue,
//ve: undefined,
 //           v: vvalue,
//            link: this.column.widget.properties.dataset_id+'/'+this.modelValue.id,
//            routename: '',
        }
    },
    methods:{ 
        handleInput () {            
//           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        },
       // getMaterialName () {
            /*
            let routename = $route.name;
            if (routename=='lichenstables')  { this.materialname = 'lichensdatamaterial';}
            else {
                this.materialname = 'lichensdatamaterial';
                 }
                 */
          //       this.materialname = 'lichensdatamaterial';
          //       console.log(materialname);
            
       // },
       /*
        writeStoreTid(){
            this.$store.commit('getTableIdTo', this.meta.dataset_id); // криво?
        },
*/
    },
}
</script>
