<template>
    <template v-if="mode === 'table'">
        <p v-if="lengthrow!==undefined">{{v}}</p>
        <p class="text-truncate" style="max-width: 300px;">{{v}} </p>
</template>
    <template v-else-if="mode === 'edit'">

<v-text-field :label=column.title variant="outlined" v-model="v" @input="handleInput" :name=column.title></v-text-field>

<!--:name=column.title -  одно из решений хранения введенных в поле значений без обращения к БД (данные хранятся в браузере юзера?)-->


<!-- <v-combobox
          :items="options"
v-model:search="search"
 v-model = "searchvalue"


          @update:model-value="handleInput()" 

          :label=column.title
          multiple
        ></v-combobox> -->

      
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
//import axios from 'axios';
export default {
    name: 'string-widget',
    props:['mode','column', 'modelValue','lengthrow'],
    emits: ['update:modelValue'],
    data(){ 
        return {
            v: this.modelValue,
//            search: this.v,
//            options: [],
//            searchvalue: '',
        }
    },
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
//           this.$emit('update:modelValue', e.target.value)
        },

//         getLookupData(){

//             let dataset_uri = this.$store.state.mainurl+'/dataset/list?f='+this.column.widget.properties.dataset_id;
//             let filtervalue = '&f_'+this.column.widget.properties.db_field+'='+this.search;
//             axios
//                 .post(dataset_uri+'&count_rows=true&iDisplayStart='+0+'&iDisplayLength=10&iSortingCols=1&iSortCol_0=1&distinct=t&f_'+filtervalue) // непонятная строка
//                 .then((response) => {
//                     let rows = response.data.aaData;
// console.log(rows);
//                         this.options = rows;
//                     })
//                 .catch(error => console.log(error));
//         },



    },
// test with this variant (another varant - use modelValue directly in template)
watch: {
    modelValue() {
        this.v = this.modelValue;
    },
    // search() {
    //     if (this.search.length < 3 ) {
    //         this.labelmessage = "type more";
    //         return;
    //     }
    //     else if (this.search.length >= 3) {
    //         this.labelmessage = "";
    //         this.getLookupData();
    //     }
    // },

},

}
</script>