<template>
  <v-row >
    <v-col cols-12 md-6 >

      <div class="my-2">  
        <div v-for="col in meta.columns" :key="col">
          <base-geo-cell v-if = "col.fieldname === 'species'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </div>
      </div>
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'location'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>
      <v-sheet class="d-flex flex-wrap mb-2">
        <v-sheet style="min-width: 110px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'coordinates'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div> 
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'precision'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'depth_zone'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'mesh_size'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>

        <v-sheet style="min-width: 100px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'alt'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>

      </v-sheet>
      <v-sheet class="d-flex flex-wrap mb-2">
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'leg_number'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>
        <v-sheet style="min-width: 300px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'leg_name'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div> 
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'leg_date'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div> 
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'year'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
<!----> 


          </div>
        </v-sheet>
        <v-sheet style="min-width: 200px; max-width: 100%;" class="mr-1">
          <div v-for="col in meta.columns" :key="col">
            <base-geo-cell v-if = "col.fieldname === 'month'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
          </div>
        </v-sheet>
      </v-sheet>
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'pictures'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'comments'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>
    </v-col>
  <!--end of first column-->
    <v-col  cols-12 md-6 style="min-width: 300px; max-width: 350px">
      <div class="my-2">
        <div v-for="col in meta.columns" :key="col">
          <base-geo-cell v-if = "col.fieldname === 'store_species'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </div>
      </div>
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'main_storage'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>    	
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'current_storage'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div> 
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'localcollnumber'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>    	
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'recieved'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div> 
  <!-- extradata: -->
        <v-btn
        @click="dialogmainbiology=!dialogmainbiology" 
          class="my-1"
          variant="flat"
          color="regular"
          >Main biology
        </v-btn><br>
        <v-btn
        @click="dialogmorphology=!dialogmorphology" 
          class="my-1"
          variant="flat"
          color="regular"
          >Morphology
        </v-btn><br>
        <v-btn
        @click="dialogpathologies=!dialogpathologies" 
          class="my-1"
          variant="flat"
          color="regular"
          >Pathologies
        </v-btn><br>
        <v-btn
        @click="dialogfoodcomposition=!dialogfoodcomposition" 
          class="my-1"
          variant="flat"
          color="regular"
          >Food composition
        </v-btn><br>
        <v-btn
        @click="dialogchemistry=!dialogchemistry" 
          class="my-1"
          variant="flat"
          color="regular"
          >Chemistry
        </v-btn><br>    
      <div v-for="col in meta.columns" :key="col">
        <base-geo-cell v-if = "col.fieldname === 'locationexcluded'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
      </div>
    </v-col>
  </v-row>
<!--dialogs:-->
<!--Main biology-->
<v-dialog fullscreen v-model="dialogmainbiology">
  <v-card class="rounded-0">
    <v-sheet class="d-flex flex-wrap ma-2">
      <div v-for="col in meta.columns" :key="col">
        <v-sheet v-if = "col.description.includes('mainbiology')" class="mr-1" min-width="200">
          <base-geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </v-sheet>
      </div>
    </v-sheet>
    <div class="d-flex justify-space-between">
      <v-btn 
      class="my-1 ml-2"
      variant="outlined"
      color="regular"
      @click="dialogmainbiology = !dialogmainbiology"
      size="x-large"
      >Exit
      </v-btn>
      <v-btn 
      class="my-1 ma-2"
      variant="flat"
      color="attention"
      @click="dialogmainbiology = !dialogmainbiology"
      size="x-large"
      >Submit
      </v-btn>
    </div>
  </v-card>
</v-dialog>

<!--Morphology-->
<v-dialog fullscreen v-model="dialogmorphology">
  <v-card class="rounded-0">
    <v-sheet class="d-flex flex-wrap ma-2">
      <div v-for="col in meta.columns" :key="col">
        <v-sheet v-if = "col.description.includes('morphology')" class="mr-1" min-width="200">
          <base-geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </v-sheet>
      </div>
    </v-sheet>
    <div class="d-flex justify-space-between">
      <v-btn 
      class="my-1 ml-2"
      variant="outlined"
      color="regular"
      @click="dialogmorphology = !dialogmorphology"
      size="x-large"
      >Exit
      </v-btn>
      <v-btn 
      class="my-1 ma-2"
      variant="flat"
      color="attention"
      @click="dialogmorphology = !dialogmorphology"
      size="x-large"
      >Submit
      </v-btn>
    </div>
  </v-card>
</v-dialog>
<!--pathologies-->
<v-dialog fullscreen v-model="dialogpathologies">
  <v-card class="rounded-0">
    <v-sheet class="d-flex flex-wrap ma-2">
      <div v-for="col in meta.columns" :key="col">
        <v-sheet v-if = "col.description.includes('pathologies')" class="mr-1" min-width="200">
          <base-geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </v-sheet>
      </div>
    </v-sheet>
    <div class="d-flex justify-space-between">
      <v-btn 
      class="my-1 ml-2"
      variant="outlined"
      color="regular"
      @click="dialogpathologies = !dialogpathologies"
      size="x-large"
      >Exit
      </v-btn>
      <v-btn 
      class="my-1 ma-2"
      variant="flat"
      color="attention"
      @click="dialogpathologies = !dialogpathologies"
      size="x-large"
      >Submit
      </v-btn>
    </div>
  </v-card>
</v-dialog>
<!--food composition-->
<v-dialog fullscreen v-model="dialogfoodcomposition">
  <v-card class="rounded-0">
    <v-sheet class="d-flex flex-wrap ma-2">
      <div v-for="col in meta.columns" :key="col">
        <v-sheet v-if = "col.description.includes('food_composition')" class="mr-1" min-width="200">
          <base-geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </v-sheet>
      </div>
    </v-sheet>
    <div class="d-flex justify-space-between">
      <v-btn 
      class="my-1 ml-2"
      variant="outlined"
      color="regular"
      @click="dialogfoodcomposition = !dialogfoodcomposition"
      size="x-large"
      >Exit
      </v-btn>
      <v-btn 
      class="my-1 ma-2"
      variant="flat"
      color="attention"
      @click="dialogfoodcomposition = !dialogfoodcomposition"
      size="x-large"
      >Submit
      </v-btn>
    </div>
  </v-card>
</v-dialog>
<!--food composition-->
<v-dialog fullscreen v-model="dialogchemistry">
  <v-card class="rounded-0">
    <v-sheet class="d-flex flex-wrap ma-2">
      <div v-for="col in meta.columns" :key="col">
        <v-sheet v-if = "col.description.includes('chemistry')" class="mr-1" min-width="200">
          <base-geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
        </v-sheet>
      </div>
    </v-sheet>
    <div class="d-flex justify-space-between">
      <v-btn 
      class="my-1 ml-2"
      variant="outlined"
      color="regular"
      @click="dialogchemistry = !dialogchemistry"
      size="x-large"
      >Exit
      </v-btn>
      <v-btn 
      class="my-1 ma-2"
      variant="flat"
      color="attention"
      @click="dialogchemistry = !dialogchemistry"
      size="x-large"
      >Submit
      </v-btn>
    </div>
  </v-card>
</v-dialog>

</template>
<script>
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'StandardBaseFormT',
    components: {

},

data(){ 
    return {
      dialogmainbiology: false,
      dialogmorphology: false,
      dialogpathologies: false,
      dialogfoodcomposition: false,
      dialogchemistry: false,
    }
},
props:['meta', 'curentRow', 'modelValue'],
emits: ['update:modelValue'],
methods: {
  // col in meta.columns
  handleDate (value) {
    this.curentRow.leg_date = value;
  },


},

computed: {

getColumn() {



},
},

  mounted(){

  },

})
</script>