<template>
<div v-for="col in meta.columns" :key="col">
  <base-geo-cell v-if = "col.fieldname === 'dtes'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
</div><br>
<v-row>
  <v-col cols="12" sx="2" sm="6" md="3" lg="2">
    <div v-for="col in meta.columns" :key="col">
      <base-geo-cell v-if = "col.fieldname === 'numberfield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
    </div>
  </v-col>
  <v-col cols="12" sx="2" sm="6" md="3" lg="2">
    <div v-for="col in meta.columns" :key="col">
      <base-geo-cell v-if = "col.fieldname === 'stringfield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
    </div>
  </v-col>
  <v-col cols="12" sx="2" sm="6" md="3" lg="2">
    <div v-for="col in meta.columns" :key="col">
      <base-geo-cell v-if = "col.fieldname === 'classifyfield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
    </div>
  </v-col>
  <v-col cols="12" sx="2" sm="6" md="3" lg="2">
    <div v-for="col in meta.columns" :key="col">
      <base-geo-cell v-if = "col.fieldname === 'datefield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
    </div>
  </v-col>
  <v-col cols="12" sx="2" sm="6" md="3" lg="2">
    <div v-for="col in meta.columns" :key="col">
      <base-geo-cell v-if = "col.fieldname === 'linkfield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
    </div>
  </v-col>
</v-row>
<div v-for="col in meta.columns" :key="col">
<base-geo-cell v-if = "col.fieldname === 'booleanfield'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
</div>

<div v-for="col in meta.columns" :key="col">
<base-geo-cell v-if = "col.fieldname === 'lid'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
</div>

<!-- <div v-for="col in meta.columns" :key="col">
<base-geo-cell v-if = "col.fieldname === 'photo'" v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}" v-model="curentRow[col.fieldname]"/>
</div> -->

</template>
<script>
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'StandardBaseFormT',
    components: {

},

data(){ 
    return {

    }
},
props:['meta', 'curentRow', 'modelValue'],
emits: ['update:modelValue'],
methods: {

},

  mounted(){

  },

})
</script>