<template>
<div v-for="col in meta.columns" :key="col">
<div v-if="meta.title.includes('species') || meta.description.includes('Single_species')">
<species-separate-filter
v-if="col.fieldname == 'species'" 
                        :key='col'
                        :column='col'
                        :meta='meta'
                        v-model="filters[col.fieldname]"
                        @update:modelValue="getData"
>
</species-separate-filter>
</div>

</div>
    <geospatial-filter-separate
v-if="geofilterson"
      :column='meta.columns'
      :meta='meta'
      :pointfieldname='this.pointfieldname'
      :url = 'this.url'
      v-model="filters[this.pointfieldname]"
      @filterupdate="getData" 
    ></geospatial-filter-separate>

    <geo-aerial-filter-vue
v-if="geofilterson"
      :column='meta.columns'
      :meta='meta'
      v-model="filters[this.pointfieldname]"
      @filterupdate="getData" 
      >
    </geo-aerial-filter-vue>


<v-btn
      variant="flat"
      color = "regular"
      class="mb-1 mr-1" 
      @click.stop="toolsfilters = !toolsfilters"
      
    >
    <v-icon icon="mdi-filter"></v-icon> <span class="d-none d-sm-none d-md-flex">Filter</span> 
</v-btn>
    




    <!-- <v-btn
    v-if="filters.length > 0"
      variant="flat"
      color = "vs"
      class="mb-1 mr-1" 
      @click.stop="toolsfilters = !toolsfilters"
      
    >
        <span class="d-none d-sm-none d-md-flex">Reset all filters</span> <v-icon icon="mdi-filter-off"></v-icon>
    </v-btn> -->

    
        <v-btn
        v-if="geofilterson == false"
                class="mb-1 mr-1" 
                variant="flat"
                color="regular"
                @click = "geofilterson = !geofilterson"
                
            >
<v-icon  icon="mdi-earth">  </v-icon><span class="d-none d-sm-none d-md-flex">Show Map</span>

          </v-btn>

          <v-btn
          v-if="geofilterson == true"
                class="mb-1 mr-1" 
                variant="flat"
                color="regular"
                @click = "geofilterson = !geofilterson"
                
            >
<v-icon icon="mdi-earth-remove">  </v-icon><span class="d-none d-sm-none d-md-flex">Hide Map</span>  
          </v-btn>

<!--end filters-->
        <span v-if="this.$store.state.loggedin">
          <v-btn class="mb-1 mr-1"  color="accent" v-if="curentRow.id" @click="dialogedrow=!dialogedrow, actionedit = !actionedit">Edit</v-btn>
          <v-btn class="mb-1 mr-1"  color="regular" v-if="curentRow.id" @click="dialogedrow = !dialogedrow, initRow('clone'), actionclone = !actionclone">Clone</v-btn>
          <v-btn class="mb-1 mr-1"  color="attention" @click="dialogedrow=!dialogedrow, initRow('add'), actionadd = !actionadd">Add</v-btn>
          <v-btn class="mb-1 mr-1"  color="vs" v-if="curentRow.id" @click="updateData('delete'), curentRow={}">Delete </v-btn>
        </span>
        <v-btn class="mb-1 mr-1" v-if="curentRow.id" color="regular" @click="selectedRowsToStore()">Print selected </v-btn>
          <v-btn class="mb-1 mr-1" variant="flat" color = "regular" @click.stop="toolsfiltersprint = !toolsfiltersprint">
            <v-icon icon="mdi-filter"></v-icon> <span class="d-none d-sm-none d-md-flex">Filter and Print</span> <v-icon icon="mdi-printer"></v-icon>
        </v-btn>

        <v-btn class="mb-1 mr-1" variant="flat" color="regular" @click="dialogexport=!dialogexport">
          <v-icon icon="mdi-file-download"></v-icon>  <span class="d-none d-sm-none d-md-flex">Download</span>
        </v-btn>

      <v-table>
            <thead>
                <tr>
                  <td v-if="meta.dataset_id === 2017"> LinkTo </td> <!-- open after fix in taxon pages-->
                      <th v-for="col in meta.columns" :key="col">
                    
<div class="d-flex flex-row">
                  <v-sheet>
                    <v-tooltip activator="parent" location="bottom">Sort</v-tooltip>
                    <v-icon v-if="sorts[col.fieldname] == false" icon="mdi-sort" @click="changeSort(col.fieldname)" /> 
                    <v-icon v-if ="sorts[col.fieldname] == true" icon="mdi-sort-ascending" @click="changeSort(col.fieldname)" color="regular"/> 
                    <v-icon v-if ="sorts[col.fieldname] == undefined" icon="mdi-sort-descending" @click="changeSort(col.fieldname)" color="accent"/> 
                  </v-sheet>
                  <v-sheet class="px-2">
                    {{col.title}} 
                  </v-sheet>
                  <v-sheet>
                    <v-tooltip activator="parent" location="bottom">Group</v-tooltip>              
                    <v-icon v-if="groupings[col.fieldname] == '' " icon="mdi-format-list-group" @click="groupingswitch=!groupingswitch, changeGrouping(col.fieldname)"/> 
                    <v-icon v-if ="groupings[col.fieldname] == 'groupby' " icon="mdi-format-columns" @click="groupingswitch=!groupingswitch, changeGrouping(col.fieldname)" color="regular"/> 
                    <!--надо как-то обнулять сортинг перед групингом - иначе если сначала сделать сортинг а потом группинг - получится дичь-->
                  </v-sheet>
                  
</div>

                  </th>

              </tr> 
            </thead>
             <!--что такое @getrow ????-->
            <data-table :meta="meta" @getrow = "setcurentRow" v-model="rows"></data-table>

    </v-table>

<!--dialogs:-->
<v-dialog
    width="500"
    v-model="toolsfiltersprint"
    temporary
    > 

<div class="bg-surface-light position-relative rounded-0">
  <div class="d-flex justify-between">
                <v-btn
                    class="my-1 ml-1 mr-1"
                    variant="flat"
                    color="regularlight"
                    @click.stop="toolsfiltersprint = !toolsfiltersprint">
                    Close
                </v-btn>
                <!-- <v-btn
                    class="my-1 mr-1"
                    variant="flat"
                    color="accent"
                    @click="getAllData(), printon = true">
                    Apply
                </v-btn> -->
                
                <v-btn 
                  class="my-1 mr-1"
                  color="regular" 
                  @click="printIt()"> <v-icon icon="mdi-printer"></v-icon> <span class="d-none d-sm-none d-md-flex">Print</span> 
                </v-btn> 

            </div>
    <div class="bg-surface-light position-relative py-1 ps-1">
      <div class="overflow-y-auto pe-3" style="max-height: 500px">
        <base-filter 
          v-for="col in meta.columns" 
          :key='col'
          :column='col'
          :meta='meta'
          v-model="filters[col.fieldname]"
          @update:modelValue="getData"
          > 
        </base-filter>
        
      </div>
    </div>
  </div>
</v-dialog>

<v-dialog
    width="500"
    v-model="toolsfilters"
    temporary
> 

<div class="bg-surface-light position-relative rounded-0">
  <div class="d-flex justify-between">
                <v-btn
                    class="my-1 ml-1 mr-1"
                    variant="flat"
                    color="regularlight"
                    @click.stop="toolsfilters = !toolsfilters">
                    Close
                </v-btn>
                <v-btn
                    class="my-1 mr-1"
                    variant="flat"
                    color="accent"
                    @click="getData(), toolsfilters = !toolsfilters">
                    Apply
                </v-btn>
                
                <!-- <v-btn 
                  class="my-1 mr-1"
                  color="regular" 
                  @click="printIt()"> <v-icon icon="mdi-printer"></v-icon> <span class="d-none d-sm-none d-md-flex">Print</span> 
                </v-btn>  -->

            </div>
    <div class="bg-surface-light position-relative py-1 ps-1">
      <div class="overflow-y-auto pe-3" style="max-height: 500px">
        <base-filter 
          v-for="col in meta.columns" 
          :key='col'
          :column='col'
          :meta='meta'
          v-model="filters[col.fieldname]"
          @update:modelValue="getData"
          > 
        </base-filter>
        
      </div>
    </div>
  </div>
</v-dialog>




    <v-dialog
        v-model="dialogexport"
        >
        <v-card class="mx-auto rounded-0">

                <v-card-actions  class="d-inline">
                    <v-btn
                        class="my-1"
                        variant="outlined"
                        color="regular"
                        @click.stop="(dialogexport = !dialogexport)">
                        Cancel
                    </v-btn>
                    <v-btn
                        class="my-1"
                        variant="flat"
                        color="regular"
                        @click="getExportData"
                        @click.stop="(dialogexport = !dialogexport)">
                        Download csv
                    </v-btn>
                    <!-- <v-btn
                        class="my-1"
                        variant="flat"
                        color="regular"
                        @click="getExportData">
                        Download txt
                    </v-btn>
                    <v-btn
                        class="my-1"
                        variant="flat"
                        color="regular"
                        @click="getExportData">
                        Download xls
                    </v-btn> -->
                </v-card-actions>
            </v-card>
        </v-dialog>


    
<v-dialog fullscreen
v-model="dialogedrow"
>
  <v-card class="rounded-0 px-1">

  <!-- <base-form v-bind="{meta:meta, rowobject:curentRow}" ></base-form> -->
   <base-form-t v-bind="{mode:'edit', meta:allmeta, curentRow:curentRow}" v-model="curentRow"></base-form-t>

<div class="d-flex justify-space-between">
      <v-btn 
      class="my-1"
      variant="flat"
      color="vs"
      @click="dialogedrow = !dialogedrow,  updateData('delete')"
      size="x-large"
      >Delete
      </v-btn>
      <v-btn 
      class="my-1"
      variant="outlined"
      color="regular"
      @click="dialogedrow = !dialogedrow, actionedit = false, actionclone = false, actionadd = false"
      size="x-large"
      >Exit
      </v-btn>

      <v-btn 
      v-if="actionedit"
      class="my-1"
      variant="flat"
      color="attention"
      @click="dialogedrow = !dialogedrow,  updateData('edit'), actionedit = !actionedit"
      size="x-large"
      >Edit
      </v-btn>
      <v-btn 
      v-if="actionclone"
      class="my-1"
      variant="flat"
      color="attention"
      @click="dialogedrow = !dialogedrow,  updateData('clone'), actionclone = !actionclone"
      size="x-large"
      >Clone
      </v-btn>
      <v-btn 
      v-if="actionadd"
      class="my-1"
      variant="flat"
      color="attention"
      @click="dialogedrow = !dialogedrow,  updateData('add'), actionadd = !actionadd"
      size="x-large"
      >Add
      </v-btn>

</div>      
  </v-card>


</v-dialog>

    <v-row class="d-flex text-center" align="center">
      <v-col cols="2" text-medium-emphasis>
 {{ rowscount }} rows
        </v-col>
            <v-col>
            <v-pagination
            v-model="page"
            :length="pagecount"
            @update:modelValue="paginate"
        ></v-pagination> 
        </v-col>
        <v-col cols="2">
        <v-select
        :items="perpageitems"
        label="Per page"
        variant="solo"
        @update:modelValue="perpageupdate"
        ></v-select>
        </v-col>

    </v-row>
</template>



<script>
//import VueCookies from 'vue-cookies';
import { defineComponent } from 'vue';
import axios from 'axios';
//import "leaflet/dist/leaflet.css";
//import "leaflet/dist/leaflet-src.esm"
import BaseFilter from '@/components/BaseFilter.vue';
import GeospatialFilterSeparate from './GeospatialFilterSeparate.vue';
import ImageGallery from './ImageGallery.vue';
import BaseTableTools from '@/components/BaseTableTools.vue';
import BaseAdminTableTools from '@/components/BaseAdminTableTools.vue';
import GeoAerialFilterVue from '@/components/GeoAerialFilter.vue';
import SpeciesSeparateFilter from './SpeciesSeparateFilter.vue';

import DataTable from '@/components/DataTable.vue';
//import  fieldcalc from '../plugins/fieldcalc.js';
import {fieldcalc} from '../plugins/fieldcalc.js';
//import {calculatefields} from '../plugins/fieldcalc.js';
//use(fieldcalc);
// import {parser} from '../plugins/parser.js';
//import BaseForm from '@/components/BaseForm.vue';
import BaseFormT from '@/components/BaseFormT.vue';

export default defineComponent({
    name: 'base-geo-table',
    components: {
      DataTable,
//    LMap,
//    LWmsTileLayer,
//    LMarker,
//    LTileLayer,
//    LControlLayers,
    BaseFilter,
    GeospatialFilterSeparate,
    ImageGallery,
    BaseTableTools,
    BaseAdminTableTools,
    GeoAerialFilterVue,
    SpeciesSeparateFilter,
//    BaseForm,
    BaseFormT,
//    VueCookies,
//    calculatefields,
//BaseSort,
//BaseGeneralisation,



  },

    data(){ 
        return {
          allCookies: '',
          toolsfilters: null,
          toolsfiltersprint: false,
          toolsgeneralisation: null,
// потом в компонет тулсы перенести и через пинию все нагородить
dialogexport: false,
            page:1,
            perPage:10,
            meta:{columns:[]},
            allmeta:{columns:[]},
            rows:[],
            printallrows: [],
            pagecount:0,
            curentRow:{},
            perpageitems: ['3', '10', '20', '30'],
            clicktooltip: 'Click to copy',
            url: '',
            pointfieldname: '',
            filters: {},
            filterstoprint: {},
            edited: {},
            sorts: {},
            groupings: {},
            groupingswitch: false,
           groupingitems: ['', 'count', 'groupby'],
// try count rows:
rowscount: '',
geofilterson: true,
format: 'csv',
dialogrow: false,
dialogedrow: false,
dialogaddrow: false,
menu: false,
idsequence: null,
column: '',
actionedit: false,
actionclone: false,
actionadd: false,
printon: false,
        }
    },
    
    props:['dataset_uri', 'tablestructur'],


    mounted(){
        this.getMeta();
   //     this.allCookies = $cookies.get();
   //     console.log(this.allCookies);
    },

    methods: {

selectedRowsToStore() {
// print by pages
  this.$store.commit('getRowsToPrint', [this.curentRow]);
  this.$store.commit('getMetaPrint', this.meta);

//  console.log([this.curentRow], this.meta);

  this.$router.push('/print')
},


// оба метода надо переписать используя async\await
printIt(){
  this.getAllData();
  this.directSelectedRowsToStore();
},


getAllData() {

//  console.log(this.filters)

  let querydata = {sort: []};
          Object.keys(this.filters).forEach(key => {
          querydata['f_'+key] = this.filters[key];
          if (key in this.sorts && this.sorts[key] != '') {
            querydata.sort.push({fieldname:key, dir: this.sorts[key]});
          }

          if (this.groupingswitch == true) {
            querydata['g_'+key]='count'; // fieldname or key?
            if (key in this.groupings && this.groupings[key] != '') {
              querydata['g_'+key] = this.groupings[key];
            }
            else{
              querydata['g_'+key]='';
            }
          }
          });
        //   let filteredrows = 10;
        // if (this.filters){
        //   filteredrows = 10;
        // }
        // else {filteredrows = 10; }

        axios
        //  .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart='+(this.page-1)*this.perPage+'&iDisplayLength='+this.perPage, querydata)

        .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart=0&iDisplayLength='+500, querydata)
     //   .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart=0&iDisplayLength=', querydata)
        //надо оставить ограничение. Чтобы не выводить 100500 строк если квсе начнут жать принт без фильтров. Вряд ли кто-то печаает этикетки больше чем 500 за раз

      //  .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart='+(this.page-1)*100+'&iDisplayLength='+100, querydata)
         
        .then((response) => {

   //       console.log(response.data.aaData);

  //          this.printallrows=response.data.aaData; // поччему-то так не срабатывает - надо напрямую записывать ответ в стор

            this.$store.commit('getRowsToPrint', response.data.aaData);
            this.$store.commit('getMetaPrint', this.meta);

              })
              .catch(error => console.log(error));
},


directSelectedRowsToStore() {
  this.$router.push('/print');
},


        pointName() {
            for (let col of this.meta.columns){
             //       console.log(col);
                    if  (col.widget.name === 'point') {
                        this.pointfieldname = col.fieldname;
                }
            }
        },

        getMeta(){
            axios.get(this.tablestructur).then((response) => {
//                console.log(response);
                this.meta= JSON.parse(response.data.aaData[0].JSON);

                this.allmeta = JSON.parse(response.data.aaData[0].JSON); // для формы правки - там могут быть поля которые исключены из визибла
//                console.log(response.data.aaData[0].JSON);
//                console.log(this.meta.dataset_id);
                  if (this.meta.dataset_id == 241 || this.meta.dataset_id == 263 || this.meta.dataset_id == 2017) { //hide map for all tables without clean needs it
                    this.geofilterson = false;
                  }
                  else {
                    this.geofilterson = true;
                  }
                this.meta.columns=this.meta.columns.filter(col=> {return col.visible});
                this.pointName();
                this.getData();

 //               this.getAllData(); 
                // вот зачем это делать? Почему без этого надо метод два раза вызывать?
   //             this.updateMap();
                this.meta.columns.forEach(column => {
                    this.filters[column.fieldname]=[];
                    this.sorts[column.fieldname]='';
                    this.groupings[column.fieldname]='';
                });


//console.log('filters',this.filters);

//this.filterstoprint = this.filters; // фикисрование пустых фильтров чтобы потом сравнить их с непустыми
this.$store.commit('getFilterstoprint', this.filters);

//                this.getAllData();

    //            this.getData();
   //             this.updateMap();

/*    
*/



            });
        },

        getData(){

            let querydata = {sort: []};

  //          this.sorts.id = true; // sample
  //        let querydata = {sort: [{fieldname: "species", dir: true}]};

            Object.keys(this.filters).forEach(key => {
          //  console.log(key, this.filters[key]);
            querydata['f_'+key] = this.filters[key];
//            querydata['f_coordinates'] = this.getpolygon;
            if (key in this.sorts && this.sorts[key] != '') {
              querydata.sort.push({fieldname:key, dir: this.sorts[key]});
//              console.log(querydata);
            }
            //
            if (this.groupingswitch == true) {
              querydata['g_'+key]='count'; // fieldname or key?
//              console.log(querydata, "countall");
//console.log(this.groupingswitch);
              if (key in this.groupings && this.groupings[key] != '') {
                querydata['g_'+key] = this.groupings[key];
                //  console.log(querydata);
                //  console.log(this.groupings);
              }
              else{
                querydata['g_'+key]='';
              }
            }
            });
//  console.log(querydata);
            axios
          //  .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart='+(this.page-1)*this.perPage+'&iDisplayLength='+this.perPage, querydata)
            .post(this.dataset_uri+'&unique=undefined&count_rows=true&iDisplayStart='+(this.page-1)*this.perPage+'&iDisplayLength='+this.perPage, querydata)
            
            .then((response) => {
             //   console.log(this.dataset_uri);
             //   console.log(response.data);
// &unique=undefined&count_rows=true& - что это?
// tofile and print - надо делать другой запрос (без пагинации) - но как?
                this.rows=response.data.aaData;
//console.log(this.rows);
//this.printallrows = this.rows;
// вот зачем это делать? Почему по другому метод не срабатывает с первого раза а срабтывает токо со второго?
//console.log(this.printallrows);
//console.log(this.rows);

                this.pagecount=Math.max(1,Math.trunc(response.data.iTotalRecords / this.perPage)+1);
this.rowscount = response.data.iTotalRecords;
//исключить обновление карты если прозошел переход на след страницу
                this.updateMap();
                })
                .catch(error => console.log(error));
        },

getExportData(){


 let querydata = '';

//          this.sorts.id = true; // sample
//        let querydata = {sort: [{fieldname: "species", dir: true}]};

          Object.keys(this.filters).forEach(key => {
        //  console.log(key, this.filters[key]);
          querydata+='&f_'+key+'='+ this.filters[key];
          if (this.groupingswitch == true) {
            if (key in this.groupings && this.groupings[key] != '') {
              querydata+='&g_'+key+'='+ this.groupings[key];
            }
          }
          });

  window.location.href = this.dataset_uri+querydata+'&to_file=true&format=csv';


 // window.location.href = "google.com";
},

        //формирование урла с мапсервера для карты на основе данных таблицы

        updateMap(){
 //           console.log(this.meta.columns[6]);
 //let color = "'regular'";
            let randomString = Math.random().toString(36).slice(2);
 //console.log(randomString);
 //console.log(this.meta.dataset_id);
 //console.log(this.pointfieldname);
            let dataquery = {

            f: encodeURI(this.meta.dataset_id),
                unique: randomString+'coordinates',
            fieldname: this.pointfieldname,

                // mapstyle - сейчас заглушка. Надо будет сделать так, чтобы оно формировало разный стиль для разных даных
                mapstyle: 'TYPE point CLASS NAME "testclass" STYLE SYMBOL "circle" COLOR 3 169 244 SIZE 10 OFFSET 0 0 OPACITY 100 END LABEL COLOR 0 0 0 FONT "verdana" TYPE truetype SIZE 7 ANGLE 0 POSITION AUTO PARTIALS FALSE END END',
                //199 129 196 
                selected_array: [] };

                Object.keys(this.filters).forEach(key => {
// console.log(key, this.filters[key]);
                dataquery['f_'+key] = this.filters[key]; //здесь меняется только свойство объекта
                });

//console.log(dataquery);
            axios
                .post(this.$store.state.mainurl+"/map/createmap", dataquery)
                .then((response) => {

//    console.log(response.data);

                this.url= response.data;

                })
                .catch(error => console.log(error));
        },

        paginate(newpage) {
            this.page=newpage;
            this.getData();
        },

        perpageupdate(perpageitems){
            this.perPage=perpageitems;
            this.getData();

        },

        setcurentRow(getrow) {
            this.curentRow = getrow;
        },
        changeSort(fieldname){
            if (this.sorts[fieldname] == undefined) {
              this.sorts[fieldname] = false;
            }
            else if (this.sorts[fieldname]){
              this.sorts[fieldname] = undefined;
            }
            else {
              this.sorts[fieldname] = true;
            }
            this.getData();
        },


        changeGrouping(fieldname){
            if (this.groupings[fieldname] == '') {
              this.groupings[fieldname] = "groupby";
            }
            else if (this.groupings[fieldname] == 'groupby') {
              this.groupings[fieldname] = '';
            }
      
            this.getData();
        },

        clicktooltipMessage(){
          if (this.clicktooltip =='Click to copy') {
          this.clicktooltip = 'Copied';
          }
          else {
            this.clicktooltip = 'Click to copy';
          }
          setTimeout(() => {
        this.clicktooltip = 'Click to copy';
      }, 500);

        },

          updateData(updatetype){

            let url = '';
              if(updatetype == 'edit'){
                url = this.$store.state.mainurl+"/dataset/update?f=";
              }
              else if (updatetype == 'delete') {
                url = this.$store.state.mainurl+"/dataset/delete?f=";
              }
              else if (updatetype == 'clone'){
                url = this.$store.state.mainurl+"/dataset/add?f=";
              }
              else if (updatetype == 'add'){
                url = this.$store.state.mainurl+"/dataset/add?f=";
              }
              else {
                console.log(updatetype, "error");
              }
//            let updaterow = {"document":{}};
            let updaterow = {"document":{}};
              updaterow.document['dataset_id'] = this.meta.dataset_id;
//              updaterow.document['columns'] = []; // что это - что оно делает?

              console.log(updaterow.document);
//              console.log(this.curentRow);

            this.meta.columns.forEach(column => {

// console.log(updaterow.document[column.fieldname]);
// console.log(typeof updaterow.document[column.fieldname]);

// console.log(this.curentRow[column.fieldname]);
// console.log(typeof this.curentRow[column.fieldname]);



// if (updaterow.document[column.fieldname] == ''  && column.default_value !='') {
//   updaterow.document[column.fieldname] = column.default_value;
// }
console.log(column.default_value);

if (updaterow.document[column.fieldname] == '' && column.default_value !='') {
  updaterow.document[column.fieldname] = column.default_value;
}
/*
 else if (updaterow.document[column.fieldname] == undefined  && column.default_value !='') {
   updaterow.document[column.fieldname] = column.default_value;
 }
*/

// else if (updaterow.document[column.fieldname] == ''||updaterow.document[column.fieldname] ==  null || updaterow.document[column.fieldname] == undefined && column.default_value =='') {
//   updaterow.document[column.fieldname] = "100500";
// }
// if (this.curentRow[column.fieldname] == '' || this.curentRow[column.fieldname] == null || this.curentRow[column.fieldname] == undefined && column.default_value !='') {
//   updaterow.document[column.fieldname] = column.default_value;
// }

// else if (this.curentRow[column.fieldname] == ''|| this.curentRow[column.fieldname] == null || this.curentRow[column.fieldname] == undefined && column.default_value =='') {
//   updaterow.document[column.fieldname] = "100500";
// }



// как получить NULL?
else {
  updaterow.document[column.fieldname] = this.curentRow[column.fieldname];
  if (updaterow.document[column.fieldname] == null){
    updaterow.document[column.fieldname] = "NULL";
  }
}

// if (updaterow.document[column.fieldname] ==''){
//   updaterow.document[column.fieldname] = "NULL"
// }

//console.log(updaterow.document[column.fieldname]);
// console.log(updaterow.document[column.fieldname]);
// console.log(typeof updaterow.document[column.fieldname]);

//updaterow.document[column.fieldname] = this.curentRow[column.fieldname];

            });
  updaterow.document['f_id'] = this.curentRow.id; // !!!!!!!: this теряется внутри модуля
  let meta = this.meta;
console.log(url);
            fieldcalc.calculatefields(meta, updaterow.document, 'form', undefined, function(error, chdoc){
              axios
            //  .post(url+updaterow.document.dataset_id, chdoc)
              .post(url+updaterow.document.dataset_id, {document:chdoc})
              .then((response) => {
//console.log('update output',response.data.aaData);      //  undefined!!!                                                        
                this.rows=response.data.aaData;

              })
              .catch(error => console.log(error));
             
            });
 // так не обновляется после добавления нвой записи (если просто правка - обновляется?)
 // а так обновляется
      this.getMeta();
      this.getData(); 
          },


initRow(action){ 
//updaterow.document['columns'] = []; // что это - что оно делает?

if(action == 'add'){

  let updaterow = {"document":{}};
  updaterow.document['dataset_id'] = this.meta.dataset_id;
  this.meta.columns.forEach(column => {
    updaterow.document[column.fieldname] = column.init_value;
  });
  this.curentRow = updaterow.document;
  this.curentRow.id = '';
} 
if(action == 'clone'){
let updaterow = {"document":{}};

    this.meta.columns.forEach(column => {
      if (column.copy_value == 'empty' || updaterow.document[column.fieldname] == ''){
        updaterow.document[column.fieldname] = column.init_value;
      }  
      else {updaterow.document[column.fieldname] = this.curentRow[column.fieldname]}
    });
    this.curentRow = updaterow.document;
  }

},


       computed: {

   getColumn() {
// тут нужен перебор объекта а не массива (for)
    for (const column of this.meta.columns) {
      if(column.fieldname == 'lid') {
        return column.fieldname;
      }
    }

   },
 },
  

    },
/*    
watch: {
curentRow(newValue) {
console.log(newValue) 
},

}, // это можно использовать для операций с выделенной строкой
*/

})
</script>