<template>

            <tbody>

                <tr v-for="row in modelValue" @click="setcurentRow(row)" @dblclick="expandRow(row)" :key="row" :class="{ 'bg-regularlight' : (row==curentRow) }" >
                  <!-- {{ row }} -->
                    <td v-if="meta.dataset_id === 2017" class="text-medium-emphasis" @click="$router.push('/taxonpage/'+row.id)" target="_blank"> 
                  <v-btn variant="flat" icon="mdi-arrow-expand"> </v-btn> 
                  </td> 
                  <td v-for="col in meta.columns" :key="col">
                       <base-geo-cell v-bind="{mode:'table', column:col, meta:meta, rowobject:row}" v-model="row[col.fieldname]" />
                  </td>
                </tr>

            </tbody>  

</template>
<script>

//import axios from 'axios';
export default {
    name: 'data-table',
    components: {

    },

    data(){ 
        return {
            curentRow:{},
datameta: this.meta,
        }
    },
    props:['meta','modelValue'],
    emits: ['getrow'],
    methods: {

        setcurentRow(row) {
            this.curentRow = row;
          this.$emit('getrow', this.curentRow);
        },

        expandRow(row) {
            this.curentRow = row;
            this.dialogrow = true;
        },
    },

// здесь надо вотчер нагородить вместо компютеда? - он будет менять datarows по измеению в modelValue?
  //   computed: {

  //   updatedRows() {
  //     if (this.modelValue) {
  //       return this.modelValue;
  //     }
  //     else {
  //       return this.rows;
  //     }

  //   }
  // },


//   watch: {
//       modelValue() {
//             this.datarows = this.modelValue;
//         }
//   },
  // Решение с вотчем какое-то мутное. Вот чувак который его применил тоже не понимает почему все так: https://ru.stackoverflow.com/questions/1271340/vue-3-%D0%9F%D1%80%D0%B8%D1%81%D0%B2%D0%BE%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%B8%D0%B7-props-%D0%B2-data
  // В Детайлсе тот же самый вотч добавил (иначе там те же проблемы возникают, но их труднее отследить).
  // По-видимому данные из ровсов - это какие-то неправильные, "невьюшные", нереактивные данные. 
  


}
</script>